/*------------------------------------------
                Card
------------------------------------------*/

/* 卡片清單 */
.card-list {
    /* 讓內部元素預設橫著排 */
    display: flex;
    /* 調整flex內部元素的排列方式 flex-end靠右 */
    justify-content: center;
    /* 空間不夠，就換行 */
    flex-wrap: wrap;
    /* text-align: center; */
}

/* 一張卡片 */
.card {
    width: 300px;
    margin: 30px 15px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4);
    /* border-radius: 20px; */
    /* 讓超出的內容隱藏 */
    overflow: hidden;
    /* margin: 上 右 下 左; */
    /* transition: all .5s ease; */
    transform: scale(.95);
}

.card,
.card-img,
.card-title {
    transition: all .5s ease;
}

.card:hover {
    box-shadow: 0px 25px 20px rgba(102, 95, 95, 0.315);
    background: rgb(245, 245, 245);
    transform: scale(1);
}

/* 卡片圖片 */
.card-img {
    width: 100%;
    height: 50%;
    display: block;
}

/* 卡片文字區 */
.card-body {
    /* padding: 上下對內留白 左右對內留白; */
    padding: 30px 15px;
    /* padding: 10px 20px 30px 40px; */
}

/* 卡片標題 */
.card-title {
    margin-top: 0;
}

/* 卡片內文 */
.card-text {
    margin-bottom: 0;
}